@media (min-width: 768px)
  .formCont
    .itemCont
      > li
        > input
          width: 200px
          padding-left: 10px
          &:nth-child(even)
            padding-right: 30px
            width: 300px
            margin-right: 20px
         > input + input
           margin-left: 20px
